  *{
    margin:0;
    padding:0;
    font-family: "verdana","sans-serif";
  }
  
  body{
    background:#E6E8E1;
    width: 100%;
    height: 100%;
  }

  
  a{
    color: #fff;
    text-decoration: none;
  }

  a:hover{
    color: purple;
  }

  .content{
    padding: 10px;
    margin: auto;
    margin-top:25%;
  }

  .head{
    color: #fff;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 2.55%;
    text-align: center;
    font-size: 45px;
    width: 88%;
    height: 100px;
    border-radius:15px;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
    width: 100%;
    background: rgb(155,198,53); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(155,198,53,1) 0%, rgba(192,234,103,1) 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(155,198,53,1) 0%,rgba(192,234,103,1) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(155,198,53,1) 0%,rgba(192,234,103,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    }

  #body {
    text-align: center;
    width: 100%; /*Optional*/
    height: 100%;
    margin: auto;
    }
  
  .container{
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    overflow: auto;
    height: 200px;
    width: 200px;
    border-radius:15px;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
    background: rgb(155,198,53); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(155,198,53,1) 0%, rgba(192,234,103,1) 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(155,198,53,1) 0%,rgba(192,234,103,1) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(155,198,53,1) 0%,rgba(192,234,103,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bc635', endColorstr='#c0ea67',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }